{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block nav_title %}Inicio{% endblock %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="justify-content-end align-items-center">
                    <a href="{% url 'alimentacion:lista-alimentacion' %}" class="btn btn-dark btn-round  btn-block">Alimentos</a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="justify-content-end align-items-center">
                    <a href="{% url 'medicacion:lista-medicacion' %}" class="btn btn-dark btn-round  btn-block">Medicinas</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="justify-content-end align-items-center">
                    <a href="{% url 'historias:lista-enfermedad' %}" class="btn btn-dark btn-round  btn-block">Enfermedades</a>
                </div>
            </div>
           
           <!-- <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-favourite-28 text-primary"></i>
                    </div>
                    </div>
                    <div class="col-7 col-md-8">
                    <div class="numbers">
                        <p class="card-category">Followers</p>
                        <p class="card-title">+45K<p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i>
                    Update now
                </div>
                </div>
            </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-body ">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big icon-warning">
                          <i class="nc-icon nc-book-bookmark text-warning"></i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-category">Historias clinicas</p>
                          <p class="card-title">{{ n_historias }}</p><p>
                        </p></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer ">
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-body ">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big icon-warning">
                          <i class="nc-icon nc-circle-10 text-success"></i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-category">Pacientes</p>
                          <p class="card-title">{{ n_pacientes }}</p><p>
                        </p></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer ">
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-body ">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big icon-warning">
                          <i class="nc-icon nc-favourite-28 text-danger"></i>
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-category">Nutricionistas</p>
                          <p class="card-title">{{n_usuarios}}</p><p>
                        </p></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer ">
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                <h5 class="card-title">Pesos de los pacientes</h5>
                </div>
                <div class="card-body ">
                <canvas id=chartHours width="400" height="100"></canvas>
                </div>
                <div class="card-footer ">
                    <div class="stats">
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                <h5 class="card-title">4 enfermedades mas comunes</h5>
                </div>
                <div class="card-body ">
                <canvas id="chartEmail"></canvas>
                </div>
                <div class="card-footer ">
                <div class="legend">
                    {% for nombre in nombres_enfermedades %}
                        <i class="fa fa-circle legeng-{{ forloop.counter }}"></i> {{nombre}}
                    {% endfor %}
                </div>
                <div class="stats">
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                <h5 class="card-title">4 alimentos mas consumidos</h5>
                </div>
                <div class="card-body">
                <canvas id="speedChart"></canvas>
                </div>
                <div class="card-footer">
                <div class="chart-legend">
                    {% for nombre in nombres_alimentos %}
                        <i class="fa fa-circle legeng-{{ forloop.counter }}"></i> {{nombre}}
                    {% endfor %}
                </div>
                <div class="card-stats">
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
        const ctx = document.getElementById("chartHours").getContext("2d");
        const boxplotData = {
            labels: ["Pesos actuales"],
            // define label tree
            datasets: [{
                label: '',
                backgroundColor: 'rgba(23, 107, 160,0.5)',
                borderColor: '#19AADE',
                borderWidth: 3,
                outlierColor: '#142459',
                padding: 10,
                itemRadius: 0,
                data: [{{pesos}}]
            }]
        }
        new Chart(ctx, {
            type: 'horizontalBoxplot',
            data: boxplotData,
            options: {
                responsive: true,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        display: false,
                        ticks: {
                        fontColor: "#9f9f9f",
                            beginAtZero: false,
                            maxTicksLimit: 5,
                            //padding: 20
                        },
                        gridLines: {
                            drawBorder: false,
                            zeroLineColor: "#ccc",
                            color: 'rgba(255,255,255,0.05)'
                        }
                    }],
                    xAxes: [{
                        barPercentage: 1.6,
                        gridLines: {
                            drawBorder: false,
                            color: 'rgba(255,255,255,0.1)',
                            zeroLineColor: "transparent",
                            display: false,
                        },
                        ticks: {
                            padding: 20,
                            fontColor: "#9f9f9f"
                        }
                    }]
                }
            }
        });

        new Chart(document.getElementById("chartEmail").getContext("2d"), {
            data: {
                labels: {{ nombres_enfermedades|safe }},
                datasets: [{
                    label: "",
                    pointRadius: 0,
                    pointHoverRadius: 0,
                    backgroundColor: {{colores_enfermedades|safe}},
                    borderWidth: 0,
                    data: {{ numero_enfermedades }}
                }]
            },
            type: 'pie',
            options: {
                responsive: true,
                legend: {
                    display: false,
                },
                options: {
                    legend: {
                        display: false
                    },

                    pieceLabel: {
                        render: 'percentage',
                        fontColor: ['white'],
                        precision: 2
                    },

                    tooltips: {
                        enabled: false
                    },

                    scales: {
                        yAxes: [{

                            ticks: {
                            display: false
                            },
                            gridLines: {
                            drawBorder: false,
                            zeroLineColor: "transparent",
                            color: 'rgba(255,255,255,0.05)'
                            }

                        }],

                        xAxes: [{
                            barPercentage: 1.6,
                            gridLines: {
                            drawBorder: false,
                            color: 'rgba(255,255,255,0.1)',
                            zeroLineColor: "transparent"
                            },
                            ticks: {
                            display: false,
                            }
                        }]
                    },
                }
            }
        });

        new Chart(document.getElementById("speedChart").getContext("2d"), {
            data: {
                labels: {{ nombres_alimentos|safe }},
                datasets: [{
                    label: "Alimentos",
                    pointRadius: 0,
                    pointHoverRadius: 0,
                    backgroundColor: {{colores_alimentos|safe}},
                    borderWidth: 0,
                    data: {{ numero_alimentos }}
                }]
            },
            type: 'pie',
            options: {
                responsive: true,
                legend: {
                    display: false,
                },
                pieceLabel: {
                    render: 'percentage',
                    fontColor: ['white'],
                },

                tooltips: {
                    enabled: false
                },

                scales: {
                    yAxes: [{
                        display:false
                    }],
                },
            }
        });
    });
</script>
{% endblock %}