{% extends "base_white.html" %}
{% load crispy_forms_tags %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
    
    <form class="form-signin" method="POST" action="{% url 'account_login' %}">
        <h1 class="h3 mb-3 font-weight-normal">NUTRIPEDIA</h1>
        <div class="col-sm">
        {% csrf_token %}
            <div class="form-group">
                {{form.login}}
            </div>
         
            <div class="form-group">
                {{ form.password }}
            </div>
            
            <div class="col">
                {{ form.remember }}
                <label class="checkL">Mantener sesión</label>
            </div>
            
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <br>
            <button id="buttonLogin" class="btn btn-lg btn-secondary btn-block" type="submit">Entrar</button>
        </div>
        
    </form>
{% endblock %}