<script>
    const capitalize = (s) => {
      if (typeof s !== 'string') return '';
      return s.charAt(0).toUpperCase() + s.slice(1).toLowerCase();
    }
    $('#id_fecha_nacimiento').datepicker({
      format: "yyyy-mm-dd",
      language: "es",
      orientation: "bottom auto"
    });
    $(document).ready(function() {
      $("#id_first_name").keyup(function() {
        let nombre = $(this).val();
        let nombres = nombre.split(" ");
        nombres = nombres.map(capitalize);
        full_name = nombres.join(" ");
        $(this).val(full_name);
        if (full_name != "") {
          $("#show_first_name").text(full_name);
        } else {
          $("#show_first_name").text("Nombre");
        }
      });
      $("#id_last_name").keyup(function() {
        let nombre = $(this).val();
        let nombres = nombre.split(" ");
        nombres = nombres.map(capitalize);
        full_name = nombres.join(" ");
        $(this).val(full_name);
        if (full_name != "") {
          $("#show_last_name").text(full_name);
        } else {
          $("#show_last_name").text("");
        }
      });
      
      $("#remitir").click(function(e) {
        $("#nutricionista").css("display", "flex");
      });

    })
  </script>